@font-face {
  font-family: orbitron;
  src: url('/assets/fonts/Orbitron-VariableFont_wght.ttf');
}


@font-face {
  font-family: exo2;
  src: url('/assets/fonts/Exo2-VariableFont_wght.ttf');
}

@font-face {
  font-family: starjedi;
  src: url('/assets/fonts/Starjedi.ttf');
}

@font-face {
  font-family: russo;
  src: url('/assets/fonts/RussoOne-Regular.ttf');
}

@font-face {
  font-family: orbit;
  src: url('/assets/fonts/ORBIT PERSONAL USE.ttf');
}

@font-face {
  font-family: domain;
  src: url('/assets/fonts/domain font.ttf');
}

@font-face {
  font-family: astro;
  src: url('/assets/fonts/AstroSpace-0Wl3o.otf');
}